:root{
    --color-primario: #f0320a;
    --color-secundario: #1A1A1A;
    --color-terciario: #2E2E2E;
    --color-neutral: #0A0A0A;
    --color-blanco: white;
    --color-primario-light: #FF5634;
    --color-gris-light: #F3F0F0;
    --color-gris-medium: #E5E2E1;


    --color-fuente-primario: #d1aca3;
}
.color-fondo{
    background-color: var(--color-secundario)
}  

.color-fondo-gris{
    background-color: var(--color-gris-medium);
}
.color-marcas{
    background-color: var(--color-terciario)
}
.color-fuente-primario{
    color: var(--color-fuente-primario)
}
.color-fuente-secundario{
    color: var(--color-fuente-secundario)
}
.color-principal{
    color:var(--color-primario)
}

.dropdown-item, .dropdown-item:active{
   background-color: var(--color-primario-light); 
   color: var(--color-blanco);


}
.dropdown-menu {
    background-color: var(--color-primario-light);
}
.btn.show{
    background-color: var(--color-primario-light);
    color: var(--color-blanco);
}

.fondo-boton{
      background-color: var(--color-primario);
      color: var(--color-blanco);
      
}
.btn:focus-visible{
    background-color: var(--color-primario-light);
    color: var(--color-gris-medium);
}
:not(.btn-check)+.btn:active {
    color: var(--color-blanco);
    background-color: var(--color-primario);
    
}
.btn:first-child:active{
    background-color: var(--color-primario);
    color: var(--color-blanco);
}
.fondo-boton:hover{
    background-color: var(--color-primario-light );
    color: var(--color-gris-light);
}
.boton-link:focus, .boton-link:hover {
color: var(--color-primario) !important;
}
.boton-personalizado{
    background-color: var();
}

.logo:focus, .logo:hover{
    color: var(--color-primario)!important;
}
/* Stock productos  */ 
.stock-low{
    background-color: var(--color-primario-light);
    color: var(--color-blanco);
}
.stock-medium{
    background-color: lightblue;

}
.stock-high{
  background-color: lightgreen;

}


.img-container{
    width: 140px;
    height: 80px;
}

.img-container img{
    object-fit: contain;
    color: rgb(red, green, blue);
}


.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba(240, 51, 32, 1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}